@charset "utf-8";
/*CSS Document*/
html,body,div,nav,section,footer,span,em,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ul,ol,li,a,img,input,textarea,select,table,tbody,thead,tfoot,tr,th,td,form,label,i,a,button{margin:0;padding:0;outline:0;-webkit-box-sizing:border-box;box-sizing:border-box;}
html,body{color:#909090;font:14px/1 PingFang SC,Helvetica Neue,Helvetica,Microsoft Yahei,Arial,sans-serif;background:#1a1a1a;}
.backgroundBlack{background:#000;}
li{list-style-type:none;}
img{border:0;}
a{text-decoration:none;color:#bbb;background:none;}
a:link{text-decoration:none;outline:0;}
a:hover{text-decoration:none;}
.container{width:1200px;margin:0 auto;}
.fl{float:left;}
.fr{float:right;}
em,i{font-style:normal;}
/*弹窗*/
.mask{background:#000;opacity:.56;filter:alpha(opacity=56);position:fixed;top:0;left:0;width:100%;height:100%;z-index:9999;}
.popupCon{width: 500px;padding: 50px 0;border:8px solid #313131;background: #1a1918;z-index: 99999;position: fixed;left: 50%;top: 50%;margin: -250px 0 0 -250px;}
@-webkit-keyframes slideInDown {
	from {-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);visibility:visible;}
	to {-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
}
@keyframes slideInDown {
	from{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);visibility:visible;}
    to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
}